#map {
    height: 88vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

.leaflet-popup-content-wrapper {
    height: 550px;
    width: 550px;
    text-align: center;
}

.bio {
    margin-left: 20px; /* Adjust the value to move content further or closer to the right */
  }

.toggle-button {
    border-width: .5px;
    border-radius: 20px;
    background-color: transparent;
}

.update-button {
    border-width: .5px;
    border-radius: 20px;
    background-color: transparent;
}

.btn-filter {
    font-size: medium;
    color: black;
    background-color: white;
    border-color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid #000000;
}
    
table td {
    border: 1px solid #000000;
}

table th {
    border-bottom: 1px solid #000000;
}

.card-filter {
    min-height: 14vh;
}

/*  Note: commented out because the functionality didn't work as intended.
    But... didn't want to get rid of the code. To see if I could make it work later.
.btn-grp {
    font-size: medium;
    color: black;
    background-color: white;
    border-color: white;
} */