#map {
    height: 88vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

.leaflet-popup-content-wrapper {
    height: 550px;
    width: 550px;
    text-align: center;
}

.bio {
<<<<<<< HEAD
    margin-left: 20px;
}
=======
    margin-left: 20px; /* Adjust the value to move content further or closer to the right */
  }
>>>>>>> 7d3e91bc13cf0c8711d82b435b2cc0c2c1eda7e7
