#map {
    height: 78vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.leaflet-popup-content-wrapper {
    height: 550px;
    width: 550px;
    text-align: center;
}

.bio {
    margin-left: 20px; /* Adjust the value to move content further or closer to the right */
  }

/* Buttons */

.update-button {
    border-width: .5px;
    border-radius: 20px;
    background-color: transparent;
}

.btn-filter {
    font-size: medium;
    color: #000000;
    background-color: white;
    border-color: #000000;
    border-width: 1px;
}

/* Filters. */

#filter-menu {
    width: fit-content;
    position: sticky;
    top: 0;
    left: 0;
}

#filter-menu-header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#filter-menu-header-relief {
    margin-top: 0px;
}

.filter-item {
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top:0;
    left:0;
}

#filter-menu-filler {
    min-height: 0;
    flex-grow: 1;
}

/* Table */

table {
    border: 1px solid #000000;

}

table th {
    text-align: center;
    max-width: fit-content;
    font-weight: 200;
    position: sticky;
    top: 0;
}

table td {
    border: 1px solid #000000;
    max-width: fit-content;
}

/*  Note: commented out because the functionality didn't work as intended.
    But... didn't want to get rid of the code. To see if I could make it work later.
.btn-grp {
    font-size: medium;
    color: black;
    background-color: white;
    border-color: white;
} */