<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Border Crossing Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">
    <link id="themecss" rel="stylesheet" type="text/css" href= "//www.shieldui.com/shared/components/latest/css/light/all.min.css" /> 

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Project 13</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <br/>

    <!-- Dashboard -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark">
                    <div class="card-header text-center">
                        <h4>
                            <button type="button" id="btn-line-re" class="badge rounded-pill bg-secondary border-secondary btn-re">&#8635;</button>
                            <span class="badge rounded-pill bg-secondary border-secondary">Line Chart</span>
                        </h4>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="chart-container" style="height: 600px; overflow-y: auto;">
                            <div id="line-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                    <div class="card bg-dark">
                        <div class="card-header text-center">
                            <h4>
                                <button type="button" id="btn-donut-re" class="badge rounded-pill bg-secondary border-secondary btn-re">&#8635;</button>
                                <span class="badge rounded-pill bg-secondary border-secondary">Donut Chart</span>
                            </h4>
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="chart-container">
                                <div id="donut-chart"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header text-center">
                        <h4>
                            <button type="button" id="btn-table-re" class="badge rounded-pill bg-secondary border-secondary btn-re">&#8635;</button>
                            <span class="badge rounded-pill bg-secondary border-secondary">Transportation Table</span>
                        </h4>
                    </div>
                    <div class="card-body bg-light">
                        <table id="table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Port Name</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-port_name-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-port_name-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-port_name-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-port_name" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">State</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-state-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-state-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-state-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div id="state-body" class="card-body">
                                                <select id="filter-state" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Port Code</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-port_code-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-port_code-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-port_code-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body border-dark text-center">
                                                <select id="filter-port_code" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Border</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-border-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-border-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-border-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body border-dark text-center">
                                                <select id="filter-border" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Measure</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-measure-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-measure-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-measure-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-measure" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Value</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-value-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-value-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-value-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-value-cmp-1" class="filter-sel">
                                                    <option selected> </option>
                                                    <option>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <input id="filter-value-1" type="number" style="width: 100px">
                                                <br>
                                                <select id="filter-value-cmp-2" class="filter-sel">
                                                    <option selected> </option>
                                                    <option>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <input id="filter-value-2" type="number" style="width: 100px">
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Month</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-month-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-month-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-month-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-month-cmp-1">
                                                    <option selected>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <select id="filter-month-1" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                                <br>
                                                <select id="filter-month-cmp-2">
                                                    <option selected>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <select id="filter-month-2" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Year</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-year-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-year-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-year-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-year-cmp-1">
                                                    <option selected>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <select id="filter-year-1" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                                <br>
                                                <select id="filter-year-cmp-2">
                                                    <option selected>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <select id="filter-year-2" class="filter-sel">
                                                    <option selected>All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Latitude</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-latitude-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-latitude-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-latitude-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-latitude-cmp-1" class="filter-sel">
                                                    <option selected> </option>
                                                    <option>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <input id="filter-latitude-1" type="number" style="width: 100px">
                                                <br>
                                                <select id="filter-latitude-cmp-2" class="filter-sel">
                                                    <option selected> </option>
                                                    <option>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <input id="filter-latitude-2" type="number" style="width: 100px">
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="card border-dark text-center card-filter">
                                            <div class="card-header">
                                                <h4>
                                                    <span class="badge rounded-pill bg-secondary border-secondary">Longitude</span>
                                                </h4>
                                                <p>
                                                    <!-- <button type="button" id="btn-longitude-grp" class="badge rounded-pill btn-grp">&#9901;</button> -->
                                                    <button type="button" id="btn-longitude-asc" class="badge rounded-pill btn-filter">&#8593;</button>
                                                    <button type="button" id="btn-longitude-desc" class="badge rounded-pill btn-filter">&#8595;</button>
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <select id="filter-longitude-cmp-1" class="filter-sel">
                                                    <option selected> </option>
                                                    <option>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <input id="filter-longitude-1" type="number" style="width: 100px">
                                                <br>
                                                <select id="filter-longitude-cmp-2" class="filter-sel">
                                                    <option selected> </option>
                                                    <option>=</option>
                                                    <option>&gt;=</option>
                                                    <option>&gt;</option>
                                                    <option>&lt;=</option>
                                                    <option>&lt;</option>
                                                </select>
                                                <input id="filter-longitude-2" type="number" style="width: 100px">
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./static/js/dashboard.js"></script>
</body>
</html>


        <!-- <div class="row text-center">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Port Name</span>
                    </div>
                    <div id="name-body" class="card-body">
                        <select id="name-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">State</span>
                    </div>
                    <div id="state-body" class="card-body">
                        <select id="state-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Port Code</span>
                    </div>
                    <div id="code-body" class="card-body">
                        <select id="code-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Border</span>
                    </div>
                    <div id="border-body" class="card-body">
                        <select id="border-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Measure</span>
                    </div>
                    <div id="measure-body" class="card-body">
                        <select id="measure-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Value</span>
                    </div>
                    <div id="value-body" class="card-body">
                        <select id="value-comparison">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="value-filter" type="number" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Latitude</span>
                    </div>
                    <div id="lat-body" class="card-body">
                        <select id="lat-comparison">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="lat-filter" type="number" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Longitude</span>
                    </div>
                    <div id="lng-body" class="card-body">
                        <select id="lng-comparison">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="lng-filter" type="number" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Month</span>
                    </div>
                    <div id="month-body" class="card-body">
                        <select id="month-comparison">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="month-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header">
                        <span class="badge rounded-pill bg-secondary border-secondary">Year</span>
                    </div>
                    <div id="year-body" class="card-body">
                        <select id="year-comparison">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="year-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->