<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Border Crossing Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet">
    <link href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">
    <link id="themecss" rel="stylesheet" type="text/css" href= "//www.shieldui.com/shared/components/latest/css/light/all.min.css" /> 

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Project 3</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1" style="padding: 0%;">
                <ul id="filter-menu" class="nav nav-pills flex-column bg-dark">
                    <li id="filter-menu-header" class="filter-item">
                        <h4>
                            <span type="button" id="filter-button" class="btn btn-sm btn-light">Filter</button>
                        </h4>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Port Name</span>
                        </h4>
                        <select id="filter-port_name" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">State</span>
                        </h4>
                        <select id="filter-state" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Port Code</span>
                        </h4>
                        <select id="filter-port_code" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Border</span>
                        </h4>
                        <select id="filter-border" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Measure</span>
                        </h4>
                        <select id="filter-measure" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Value</span>
                        </h4>
                        <select id="filter-value-cmp-1" class="filter-sel">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="filter-value-1" class="filter-inp" type="number" style="width: 100px">
                        <br>
                        <select id="filter-value-cmp-2" class="filter-sel">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="filter-value-2" class="filter-inp" type="number" style="width: 100px">
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Month</span>
                        </h4>
                        <select id="filter-month-cmp-1">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="filter-month-1" class="filter-sel">
                            <option selected>All</option>
                        </select>
                        <br>
                        <select id="filter-month-cmp-2">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="filter-month-2" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Year</span>
                        </h4>
                        <select id="filter-year-cmp-1">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="filter-year-1" class="filter-sel">
                            <option selected>All</option>
                        </select>
                        <br>
                        <select id="filter-year-cmp-2">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="filter-year-2" class="filter-sel">
                            <option selected>All</option>
                        </select>
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Latitude</span>
                        </h4>
                        <select id="filter-latitude-cmp-1" class="filter-sel">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="filter-latitude-1" class="filter-inp" type="number" style="width: 100px">
                        <br>
                        <select id="filter-latitude-cmp-2" class="filter-sel">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="filter-latitude-2" class="filter-inp" type="number" style="width: 100px">
                    </li>
                    <hr>
                    <li class="filter-item">
                        <h4>
                            <span class="badge">Longitude</span>
                        </h4>
                        <select id="filter-longitude-cmp-1" class="filter-sel">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="filter-longitude-1" class="filter-inp" type="number" style="width: 100px">
                        <br>
                        <select id="filter-longitude-cmp-2" class="filter-sel">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="filter-longitude-2" class="filter-inp" type="number" style="width: 100px">
                    </li>
                    <hr>
                </ul>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container text-left" style="margin:0px; padding:0px;">
                            <div class="container bg-dark text-center" style="padding: 10px;">
                                <h2>
                                    <button type="button" id="btn-line-re" class="badge bg-light btn-re">&#8635;</button>
                                    <span class="badge bg-dark">Crossings Over Time Grouped By</span>
                                    <div id="filter-line" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="filter-line-port_code" value="port_code" autocomplete="off" checked="">
                                        <label class="btn btn-sm btn-dark" for="filter-line-port_code">Port</label>
                                        <input type="radio" class="btn-check" name="btnradio" id="filter-line-measure" autocomplete="off" checked="">
                                        <label class="btn btn-sm btn-dark" for="filter-line-measure">Measure</label>
                                    </div>
                                </h2>
                            </div>
                            <div class="chart-container">
                                <div id="line-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart-container text-right" style="margin:0px; padding:0px;">
                            <div class="container bg-dark text-center" style="padding: 10px;">
                                <h2>
                                    <button type="button" id="btn-donut-re" class="badge bg-light btn-re">&#8635;</button>
                                    <span class="badge bg-dark">Percentage of Crossings By Measure</span>
                                </h2>
                            </div>
                            <div id="donut-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="chart-container bg-dark text-center" style="padding: 10px;">
                            <h2>
                                <button type="button" id="btn-table-re" class="badge bg-light btn-re">&#8635;</button>
                                <span class="badge bg-dark">All Records</span>
                            </h2>
                        </div>
                        <div class="chart-container bg-light" style="padding: 10px;">
                            <table id="table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <h4>
                                                Row
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Port Name
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                State
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Port Code
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Border
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Measure
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Value
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Month
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Year
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Latitude
                                            </h4>
                                        </th>
                                        <th scope="col">
                                            <h4>
                                                Longitude
                                            </h4>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table-body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>












    </div>
            
       
           
            
            
           
           
        
    <script src="./static/js/dashboard.js"></script>
</body>
</html>


        <!-- <div class="row text-center">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Port Name</span>
                    </div>
                    <div id="name-body" class="card-body">
                        <select id="name-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">State</span>
                    </div>
                    <div id="state-body" class="card-body">
                        <select id="state-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Port Code</span>
                    </div>
                    <div id="code-body" class="card-body">
                        <select id="code-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Border</span>
                    </div>
                    <div id="border-body" class="card-body">
                        <select id="border-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Measure</span>
                    </div>
                    <div id="measure-body" class="card-body">
                        <select id="measure-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Value</span>
                    </div>
                    <div id="value-body" class="card-body">
                        <select id="value-comparison">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="value-filter" class="filter-inp" type="number" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Latitude</span>
                    </div>
                    <div id="lat-body" class="card-body">
                        <select id="lat-comparison">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="lat-filter" class="filter-inp" type="number" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Longitude</span>
                    </div>
                    <div id="lng-body" class="card-body">
                        <select id="lng-comparison">
                            <option selected> </option>
                            <option>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <input id="lng-filter" class="filter-inp" type="number" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Month</span>
                    </div>
                    <div id="month-body" class="card-body">
                        <select id="month-comparison">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="month-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card">
                    <div class="card-header bg-light">
                        <span class="badge bg-light border-dark">Year</span>
                    </div>
                    <div id="year-body" class="card-body">
                        <select id="year-comparison">
                            <option selected>=</option>
                            <option>&gt;=</option>
                            <option>&gt;</option>
                            <option>&lt;=</option>
                            <option>&lt;</option>
                        </select>
                        <select id="year-filter">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->



         <!-- <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header text-center">
                        <h4>
                            <button type="button" id="btn-table-re" class="badge bg-secondary border-secondary btn-re">&#8635;</button>
                            <span class="badge bg-light border-dark">Transportation Table</span>
                        </h4>
                    </div>
                    <div class="card-body bg-light">
                        <div class="scrollable-table">
                            <table id="table" class="table table-hover">
                                <thead style="background-color: transparent;">
                                    <tr style="color: black;">
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Index</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Port Name</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">State</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Port Code</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Border</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Measure</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Value</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Month</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Year</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Latitude</span>
                                        </th>
                                        <th scope="col" class="bg-dark">
                                            <span class="badge bg-light border-dark">Longitude</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->