<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

     <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="static/images/siteicon.png" alt="Entry Gate." class="img-fluid" style="max-width: 80px; max-height: 80px;"></a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-secondary border-dark" style="padding: 20px; margin: 10px; min-height: 20vh;">
                    <div class="card-header">
                        <h2 style="text-align: center;">Our Dataset</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <p>
                                    We discovered this dataset titled "Border Crossing Entry Data" on the website "Kaggle.com".<br>
                                    Upon further inspection, we found the original dataset on the U.S. Bureau of Transportation's website.<br>
                                    This dataset covers all ports of entry in the U.S. under control of the U.S. government.<br>
                                    Each row represents a mode of transportation encountered (or not encountered) during that month.<br>
                                    Each row contains the port code, port name, state, latitude of the port, longitude of the port.<br>
                                    As well as the mode of transportation and the amount encountered.<br>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <img src="static/images/migrants.jpg" alt="Migrants at a border." class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="https://data.bts.gov/Research-and-Statistics/Border-Crossing-Entry-Data/keg4-3bc2/data" target="_blank">
                            https://data.bts.gov/Research-and-Statistics/Border-Crossing-Entry-Data/keg4-3bc2/data
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-secondary border-dark" style="padding: 20px; margin: 10px; min-height: 20vh;">
                    <div class="card-header">
                        <h2 style="text-align: center;">Our Inspiration</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <p>
                                    Our inspiration was to make an interactive dashboard where one could find summaries of the border crossing statistics.<br>
                                    This reference can be used to explore research questions regarding border crossings in the U.S.<br>
                                    We had a few research questions of our own:<br>
                                    Has the overall traffic at U.S. ports of entry increased or decreased over time?<br>
                                    Are these changes localized to specific ports or regions?<br>
                                    What are the patterns and volumes of the various modes of transport at entry ports into the U.S.?
                                </p>
                            </div>
                            <div class="col-md-2">
                                <img src="static/images/cars.jpg" alt="Cars at a border highway." class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="card bg-secondary border-dark" style="padding: 10px; margin: 10px;">
                    <div class="card-header">
                        <h2 style="text-align: center;">Navigating The Site</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Please click on the page you would like to visit on the navigation bar at the top of the page.<br>
                            We have an interactive <span class="badge bg-light">dashboard</span>, and an interactive <span class="badge bg-light">map</span>.<br>
                            There is an <span class="badge bg-light">about us</span> page where you can learn more about our team.<br>
                            We also have a <span class="badge bg-light">works cited</span> page where you can see all of the sources we used to create this project.<br>
                            Thanks for visiting our site!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
